{% extends 'base.html' %}

{% block content %}
<style>
    .outer-container {
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        min-height: 100vh; 
        padding-top: 20px;
    }
    .explore-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 1200px; 
        width: 100%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        padding: 20px; 
        background-color: #f9f9f9; 
    }
    .explore-container h1 {
        grid-column: span 2;
        text-align: center; 
    }
    .explore-container hr {
        grid-column: span 2; 
    }
</style>
<div class="outer-container">
    <div class="explore-container">
        <h1>Explore:</h1>
        <hr>
        {% if profile %}
        <div class="followed-list">
            <h2>People you follow:</h2>
            {% for review in followed_reviews %}
            <div>
                <small><a href="{% url 'profile' review.owner.id %}">@{{review.owner}}</a> {{review.created_at|timesince}}</small>
                <small>Replied to: <a href="{% url 'anime_detail' review.anime.id %}">{{review.anime}}</a></small>
                <p>{{review}}...<a href="{% url 'anime_detail' review.anime.id %}">see more</a></p>
                <hr>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="other-user-list">
            <h2>Users reviews:</h2>
            {% for review in other_reviews %}
            <div>
                <small><a href="{% url 'profile' review.owner.id %}">@{{review.owner}}</a> {{review.created_at|timesince}}</small>
                <small>Replied to: <a href="{% url 'anime_detail' review.anime.id %}">{{review.anime}}</a></small>
                <p>{{review}}...<a href="{% url 'anime_detail' review.anime.id %}">see more</a></p>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
